.coin {
  width: 90%;
  background-color: rgb(51, 56, 68);
  margin: auto;
  margin-bottom: 1px;
  font-size: 14px;
  padding: 13px;
  text-align: left;
  border-radius: 5px;
  .difference{
    margin-left: 5%;
  }
  .price{
    margin-left: 5%;
  }

}

.table-container {
  width: 100%;
  margin-bottom: 50px;
  margin-left: 50px;
  margin-right: 50px;

  .buy-button {
    background-color: $dark-accent;
    border: 1px;
    color: $green;
  }
}
