#game-page-container {
  @import 'sidebar';
  @import 'coins';
  @import 'overview';

  .leadership{
    width: 500px;
    background-color: #333843;
    margin: auto;
    height: 600px;
    padding: 20px;
  }
  .body{
    width: calc(100% - 100px);
    background-color: $dark-accent;
    float: right;
  .profile{
    width: 50px;
    height:50px;
    background-color: $dark-color;
    float: right;
    .picture{
      width: 30px;
      border-radius: 50%;
      margin-left: 8px;
      margin-top: 8px;
    }
    .name{
      margin-top: 15px;
      text-align: center;
      margin-bottom: 20px;
    }
  }
  .search{
    width: calc(100% - 50px);
    background-color: $dark-color;
    height:50px;
    border-left: 1px solid #414652;
    border-right: 1px solid #414652;
    .box{
      background-color: white;
      border: 1px solid #eee;
      /* border-radius: 5px; */
      margin-bottom: 6px;
      padding: 5px;
      width: calc(100% - 78px);
      margin: 8px;
      margin-right: -5px;
      border-bottom-left-radius: 5px;
      border-top-left-radius: 5px;
    }
    .button{
      background-color: $green;
      padding: 5px;
      /* width: 47%; */
      border: 1px solid $green;
      color: white;
      border-radius: 5px;
      margin-left: -1px;
      float: right;
      margin-right: 10px;
      margin-top: 8px;
      padding-left: 5px;
    }
  }
  .page-title{
    color: white;
    text-align: center;
    font-size: 25px;
    margin-top: 10px;
    display: flex;
    justify-content: center;
    height: 800px;

    .overview{
      background-color: rgb(51, 56, 68);
      width:90%;
      height:200px;
      margin: auto;
      margin-bottom: 10px;
      padding-top: 10px;
    }
    .explore{
      width: 44%;
      height: 200px;
      background-color: #333844;
      float: left;
      /* margin: auto; */
      margin-left: 5%;
      padding-top: 10px;
      overflow: scroll;
    }
    .myCoins{
      width: 44%;
      height: 450px;
      background-color: #333844;
      float: right;
      /* margin: 50px; */
      margin-right: 5%;
      padding-top: 10px;
    }
    .First{
      width: 200px;
      height: 200px;
      margin: auto;
      background-color: rgb(51, 56, 68);
    }
    .Second{
      width: 200px;
      height: 200px;
      float: left;
      margin: auto;
      background-color: rgb(51, 56, 68);
    }
    .Third{
      width: 200px;
      height: 200px;
      float: right;
      margin: auto;
      background-color: rgb(51, 56, 68);
    }
    .Remaining{
      width: 200px;
      height: 200px;
      margin: auto;
      background-color: rgb(51, 56, 68);
    }
  }
  }

  .recharts-wrapper {
    margin-left: 30px;
    margin-bottom: 30px;
  }
}
