.overview {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 25px;
  margin-bottom: 25px;

  .progress-container {
    background-color: #545865;
    width: max-content;
    padding-right: 25px;
    padding-top: 25px;
  }

  .summary-coins-wrapper {
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    margin-top: 25px;
  }

  .summary-container {
    background-color: #545865;
    width: 415px;
    padding: 25px;
    color: white;
  }

  .coins-container {
    background-color: #545865;
    width: 415px;
    padding: 25px;
    color: white;
  }
}
