.sidebar {
  width: 100px;
  color: white;
  background-color: $green;
  position: fixed;
  height: 100%;
  font-size: 20px;
  top: 0px;

  .menu{
    top: 300px;
    background-color: $dark-color;
    height:100%;
  }
  .profile{
    margin-top: 15px;
    text-align: center;
    margin-bottom: 20px;
  }
  .title{
    font-size: 15px;
    width: 100px;
    height: 100px;
    color: white;
    background-color: #545865;
    /* text-align: center; */
    padding-top: 40px;
    border-bottom: 1px solid #414653;
    padding-left: 12px;
  }.title:hover{
    background-color: $dark-accent;
  }
}
