// -----------------------------------------------------------------------------
// This file contains very basic styles.
// -----------------------------------------------------------------------------
@import url('https://fonts.googleapis.com/css?family=Raleway:300');
/**
 * Set up a decent box model on the root element
 */
.primary-button{
  background-color: $dark-color;
  width: 100%;
  padding: 10px;
  color: white;
  border-radius: 5px;
  /* margin-left: 30%; */
  margin-top: 20px;
}.primary-button:hover{
  cursor: pointer;
  background-color: $dark-accent;
}

.secondary-button{
  background-color: $dark-color;
  padding: 3px;
  width: 90px;
  border: 1px solid #41535d;
  color: white;
  border-radius: 5px;
  /* margin-left: 30%; */
}.secondary-button:hover{
  cursor: pointer;
  background-color: $dark-accent;
}

.text-box {
  background-color: white;
  border: 1px solid #eee;
  border-radius: 5px;
  margin-bottom: 6px;
  padding: 8px;
}

html {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Raleway', sans-serif;
  overflow: auto;
}

/**
 * Make all elements from the DOM inherit from the parent box-sizing
 * Since `*` has a specificity of 0, it does not override the `html` value
 * making all elements inheriting from the root box-sizing value
 * See: https://css-tricks.com/inheriting-box-sizing-probably-slightly-better-best-practice/
 */
*,
*::before,
*::after {
  box-sizing: inherit;
}

/**
 * Basic styles for links
 */
a {
  color: $brand-color;
  text-decoration: none;

  @include on-event {
    color: $text-color;
    text-decoration: underline;
  }
}
