// -----------------------------------------------------------------------------
// This file contains very basic styles.
// -----------------------------------------------------------------------------
@import url('https://fonts.googleapis.com/css?family=Raleway:300');
/**
 * Set up a decent box model on the root element
 */
.primary-button{
  background-color: $dark-color;
  width: 100%;
  padding: 10px;
  color: white;
  border-radius: 5px;
  /* margin-left: 30%; */
  margin-top: 20px;
}.primary-button:hover{
  cursor: pointer;
  background-color: $dark-accent;
}

.secondary-button{
  background-color: $dark-color;
  padding: 3px;
  width: 90px;
  border: 1px solid #41535d;
  color: white;
  border-radius: 5px;
  /* margin-left: 30%; */
}.secondary-button:hover{
  cursor: pointer;
  background-color: $dark-accent;
}
.third-button{
  background-color: $green;
  padding: 3px;
  width: 90px;
  border: 1px solid $green;
  color: white;
  border-radius: 5px;
  transition: all 0.1s ease-in-out;
  -webkit-transition: all 0.1s ease-in-out;
  -o-transition: all 0.1s ease-in-out;
  /* margin-left: 30%; */
  float: right;
  margin-right: 10px;
  margin-top: 8px;
}.third-button:hover{
  cursor: pointer;
  transform: scale(1.05);
  background-color: $green;
}
.third-button-accent{
  background-color: white;
  padding: 3px;
  transition: all 0.1s ease-in-out;
  -webkit-transition: all 0.1s ease-in-out;
  -o-transition: all 0.1s ease-in-out;
  width: 90px;
  border: 1px solid $green;
  color: $green;
  border-radius: 5px;
  /* margin-left: 30%; */
  float: right;
  margin-right: 10px;
  margin-top: 8px;
}.third-button-accent:hover{
  transform: scale(1.05);
  cursor: pointer;
}
.cancel-button-accent{
  background-color: white;
  padding: 10px;
  transition: all 0.1s ease-in-out;
  -webkit-transition: all 0.1s ease-in-out;
  -o-transition: all 0.1s ease-in-out;
  width: 47%;
  border: 1px solid #5cc98b;
  color: #5cc98b;
  border-radius: 5px;
  /* margin-left: 30%; */
  float: left;
  margin-left: 10px;
  margin-top: 15px;
}.cancel-button-accent:hover{
  transform: scale(1.05);
  cursor: pointer;
}
.submit-button{
  background-color: #5cc98b;
  padding: 10px;
  width: 47%;
  border: 1px solid #5cc98b;
  color: white;
  border-radius: 5px;
  transition: all 0.1s ease-in-out;
  -webkit-transition: all 0.1s ease-in-out;
  -o-transition: all 0.1s ease-in-out;
  margin-left: 5px;
  float: right;
  margin-right: 10px;
  margin-top: 15px;
}.submit-button:hover{
  cursor: pointer;
  transform: scale(1.05);
  background-color: $green;
}
.text-box {
  background-color: white;
  border: 1px solid #eee;
  border-radius: 5px;
  margin-bottom: 6px;
  padding: 8px;
}
.dark-text-box {
  background-color: #414653;
  border: 1px solid #414653;
  border-radius: 5px;
  margin-bottom: 6px;
  padding: 8px;
  margin: 10px;
  width: 95%;
  /* margin-left: 25%; */
  margin-top: 10px;
  margin-bottom: 0px;
}
html {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Raleway', sans-serif;
  overflow: auto;
}

/**
 * Make all elements from the DOM inherit from the parent box-sizing
 * Since `*` has a specificity of 0, it does not override the `html` value
 * making all elements inheriting from the root box-sizing value
 * See: https://css-tricks.com/inheriting-box-sizing-probably-slightly-better-best-practice/
 */
*,
*::before,
*::after {
  box-sizing: inherit;
}

/**
 * Basic styles for links
 */
a {
  color: $brand-color;
  text-decoration: none;

  @include on-event {
    color: $text-color;
    text-decoration: underline;
  }
}
