
.login-form {
  width: 330px;
  height: 370px;
  display: flex;
  align-items: center;
  flex-direction: column;
  background-color: #eee;
  color: black;
  border-radius: 15px;
  border: 3px solid $green;
  padding: 10px;
  margin-top: 50px;

.login-form-footer{
  margin-top: 8px;
  margin-bottom: 8px;
  font-size: 15px;
}
  form {
    display: inherit;
    align-self: inherit;
    flex-direction: inherit;
  }

  input[type="radio"] {
    margin-right: 5px;
  }
}
