.floating-action-button {
  width: 55px;
    height: 55px;
    background-color: $green;
    border-radius: 50%;
    -webkit-transition: all 0.1s ease-in-out;
    -o-transition: all 0.1s ease-in-out;
    transition: all 0.1s ease-in-out;
    font-size: 50px;
    color: white;
    text-align: center;
    /* line-height: 70px; */
    /* bottom: 50px; */
    cursor: pointer;
    margin-top: 20px;
    margin-left: 46%;
    border: 1px;
}

.floating-action-button:hover {
  box-shadow: 0 6px 14px 0 #666;
  transform: scale(1.05);
  cursor: pointer;
}
