.table {
  border-collapse: collapse;
  width: 100%;

  td, th {
    text-align: left;
    padding: 8px;
  }

  tr {
    background-color: #333844;
    border-bottom: 2px solid #545865;
    cursor: default;
  }

  td {
    font-size: 18px;
  }
}
